.inbox{
    background-color: white;
    margin-top: 15px;
}
.inbox2{
    background-color: skyblue;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}
.sec2{
    min-height: 400px;
    background-color: skyblue;
}
.suit{
    border-style:initial;
    border-color: aliceblue;
    border-radius: 50%;
    /* background-color: aliceblue; */
}
.inbox3{
    background-color: skyblue;
    min-height: 300px;
    color: aliceblue;
    margin-top: 20px;
    
}
.HD1{
    background-color: white;
    color: skyblue;
    padding: 10px;
    text-decoration: none;
}
.box1{
    background-color: white;
    height: 1px;
    width: 150px;
}
.inbox4{
    background-color:white;
    height: 250px;

}
.hd2{
    text-align: center;
}
.p2{
    text-align: center;
}
.inbox5{
    /* background-color: aliceblue; */
    border-style: solid;
    border-color: skyblue;
    text-align: center;
    width: 15%;
    position: absolute;
    left:42.5% ; 
    padding: 10px;  
}
.link2{
    text-decoration: none;
    color: skyblue;
}
.inbox6,.inbox7,.inbox8{
    background-color: skyblue;
    height: 300PX;
    text-align: center;
    color: aliceblue;
    padding: 15%;

}
.sec3{
    min-height: 400px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2{
    height: 2px;
    background-color: aliceblue;
    width: 150px;
    text-align: center;
    margin: auto;
}
.inbox9{
    text-align: center;
    background-color: black;
    color: white;
    height: 300px;
}
.sec4{
    min-height: 400px;
    background-color: black;
}
.link3{
    background-color: aliceblue;
    text-decoration: none;
    padding: 10px;
}
.inbox10,.inbox11{
    margin-top: 15px;
    
}
.rowone1,.rowtwo2{
    margin: 70px 70px;
}
.HD3{
    text-align: center;
}
.inbox12{
    background-color: black;
    text-align: center;
    color: aliceblue;
    height: 300px;
    padding: 20px;
}
.link4{

    background-color: white;
    text-align: none;
    padding: 10px;
    text-decoration: none;
}
.sec5{
    min-height: 400px;
    background-color: black;
}
.inbox13{
    background-color: white;
    height: 200px;
    text-align: center;
    color: gray;
    margin-top: 15px;

}